{{ >partials/header }}

  <h2>Qual seu nome?</h2>
  <form method='GET'>
    <input type='text' name='nome' placeholder='Digite seu nome' />
    </br>
    <input type='submit' />
  </form>

  {{ #nome }}
    <h1>O seu nome é {{ nome }}</h1>
  {{ /nome }}

{{ >partials/footer }}